/* .body {
  height: 100%;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-font {
  font-family: "Alata", sans-serif;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
  width: 100vw;
  /* background-color: #353333; */
  background-color: #000000;
}

/* #chart-container {
  height: 80%;
  width: 80%;
  display: flex;
  flex-grow: 1;
  border: 2px solid black;
  border-radius: 0.25rem;
} */
